{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Commande Index</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateC</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.dateC ? commande.dateC|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.status }}</td>
                <td>
                    <a href="{{ path('app_commande_show', {'id': commande.id}) }}" class=" btn btn-success">show</a>
                    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}" class="btn btn-success">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commande_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
