{% extends 'base.html.twig' %}

{% block title %}QuantiteCommande index{% endblock %}

{% block body %}
    <h1>QuantiteCommande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantitee</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quantite_commande in quantite_commandes %}
            <tr>
                <td>{{ quantite_commande.id }}</td>
                <td>{{ quantite_commande.Quantitee }}</td>
                <td>
                    <a href="{{ path('app_quantite_commande_show', {'id': quantite_commande.id}) }}">show</a>
                    <a href="{{ path('app_quantite_commande_edit', {'id': quantite_commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_quantite_commande_new') }}">Create new</a>
{% endblock %}
